body{
    background-color: #ba68c8;
    height: 300px;
}
.principal{
    width: 100px;
    height: 100px;
}
#piePagina{
    width: 100px;
    height: 100px;
}

nav{
    background-color: aquamarine;
    list-style-type: circle;
    text-align: center;
    padding: 0;
    margin: 0;
}
nav li{
    display: inline-block;
    font-size: 18px;
}