body{
    background-color:#ba68c8;;
    height: 300px;
}
header{
    background-color: azure;
    width: 100px;
    height: 100px;
}
.principal{
    background-color: antiquewhite;
    width: 100px;
    height: 100px;
}
#piePagina{
    background-color: aqua;
    width: 100px;
    height: 100px;
}
.principal, #piePagina, header{
    border: 1px salmon saddlebrown;
    margin: 20px;
}
h1, p{
    text-align: center;
}

nav{
    background-color: aquamarine;
    list-style-type: circle;
    text-align: center;
    padding: 0;
    margin: 0;
}
nav li{
    display: inline-block;
    font-size: 18px;
}